there are many cars stuck on the road
there is an accident here, but it is clearing up
don't know what happened, so many cars
this road is stuck like crazy every day at this hour and will continue for hours
the road is very slippery
i saw a police car sitting at the shoulder
there is a dead dear on the road side.
traffic is really bad, don't think it will get better any soon.